h1 {
    font-weight: bold;
    text-align: center;
    font-size: 32px;
}

footer{text-align: center;
  }
.homepage{margin-right: 15px;}
.photo{margin-right: 15px;}

a{color:#f27676;}

p{text-align: center;}

.croissant-photo{
  display:block;
  max-width: 100%;
  border-radius: 10px;
  margin:30px auto;
}

body{background-color: #efe3a7;
     }
.email{color:#363479;}
